  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body {
    /* background: url(https://unsplash.com/blog/content/images/2024/03/nasa-hubble-space-telescope-zj6d2OgCAIQ-unsplash.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    /* font-family: '' poppins',sans-serif;\ */
    overflow: hidden;

  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    animation: movedown 1s linear forwards;
  }

  .container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0,0,0,0.3); */
  }

  .container img {
    position: absolute;
    height: 17vh;
    width: 37vh;
    /* border-radius: 50%; */
    /* z-index: 9; */
    left: 43px;
    /* top: 10px; */
    bottom: 95%;
    /* border: 3px solid red; */
    /* filter: drop-shadow(3px 3px 15px grey); */

  }

  .text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 1px;
  }


  .box1 {
    background-color: #00CFD7;
    box-shadow: 3px 3px 19px #00CFD7;
    color: white;

  }

  .box1 h2 {
    font-size: 3rem;
    color: #000;
  }

  .box2 {
    background-color: #FF6B01;
    box-shadow: 3px 3px 19px #FF6B01;
    color: white;
  }

  .box2 h2 {
    font-size: 3rem;
    color: #000;
  }

  .box3 {
    background-color: #FFCA08;
    box-shadow: 3px 3px 19px #FFCA08;
    color: white;
  }

  .box3 h2 {
    font-size: 3rem;
    color: #000;
  }

  .box4 {
    background-color: #69C500;
    box-shadow: 3px 3px 19px #69C500;
    color: white;


  }

  .box4 h2 {
    font-size: 3rem;
    color: #000;
  }

  .left-container {
    left: 0;

  }

  .right-container {
    left: 52%;
  }

  .container i {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    right: -40px;
    top: 32px;
    z-index: 10;
    font-size: 5rem;
    filter: drop-shadow(3px 3px 15px #ebece9);
    /* color: #72b70b; */
    animation: movedown 1s linear forwards;
    opacity: 0;
    z-index: 1;
    /* background-color: #fff; */
    padding: 8px;
  }

  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* .container:nth-child(1) {
    animation-delay: 3s;

  }

  .container:nth-child(2) {
    animation-delay: 5s;
  }

  .container:nth-child(3) {
    animation-delay: 7s;
  } */

  .right-container i {
    left: -62px;
  }

  .left-container i {
    right: -62px;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #000;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }

  @keyframes moveline {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  .text-box h2 {
    font-weight: 600;
  }

  .text-box small {
    display: inline-block;
    margin-bottom: 15px;
  }

  .left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
    filter: drop-shadow(6px 6px 15px rgba(0, 0, 0, 0.535));
  }

  .right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
  }